.html{
  scroll-behavior: 'smooth';
}
.container {
  display: grid;
  grid-template-rows: repeat(4, 100vh); /* Each row takes up the height of the viewport */
}
.nav {
  background-color: #333;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
}
.section {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.home {
  background-color: #444;
}
.projects {
  background-color: #444;
}
.experience {
  background-color: lightpink;
}
.contact {
  background-color: lightgreen;
}